<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vintage Vogue - Rent your favourite car</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
    rel="stylesheet">
</head>


<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#" class="logo">
        <img src="{{ url_for('static', filename='images/logo5-.png') }}" alt="Vintage logo">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="/Explore_car" class="navbar-link" data-nav-link>Explore cars</a>
          </li>

          <li>
            <a href="/AboutUs" class="navbar-link" data-nav-link>About us</a>
          </li>

          <li>
            <a href="/Blog" class="navbar-link" data-nav-link>Blog</a>
          </li>

        </ul>
      </nav>

      <div class="header-actions">

        <div class="header-contact">
          <a href="tel:080 12345678" class="contact-link">080 12345678</a>

          <span class="contact-time">Mon - Sat: 9:00 am - 7:00 pm</span>
        </div>

        <a href="/Explore_car" class="btn" aria-labelledby="aria-label-txt">
          <ion-icon name="car-outline"></ion-icon>

          <span id="aria-label-txt">Explore cars</span>
        </a>

        <a href="/Signin" class="btn user-btn" aria-label="Profile">
          <ion-icon name="person-outline"></ion-icon>
        </a>

        <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>

      </div>

    </div>
  </header>
  <section class="section featured-car" id="featured-car">
    <div class="container">

      <div class="title-wrapper">
        <h2 class="h2_section-title">Featured cars</h2>

      </div>

      <ul class="featured-car-list">

        <!--First car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-1.jpg') }}" alt="Tata Nexon Punch 2021" loading="lazy" width="440" height="300"
                class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Tata Nexon Punch</a>
                </h3>

                <data class="year" value="2021">2021</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">4 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Diesel</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">17.01 - 24.08 kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹3,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'"> Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Second car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-2.jpg') }}" alt="Toyota Fortuner 2023" loading="lazy" width="440" height="300"
                class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Toyota Fortuner GR S</a>
                </h3>

                <data class="year" value="2019">2023</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">7 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Diesel</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">8 - 10 kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹10,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Third car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-3.jpg') }}" alt="Toyota Fortuner 4X 2 2016" loading="lazy" width="440"
                height="300" class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Toyota Fortuner 4X 2</a>
                </h3>

                <data class="year" value="2020">2016</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">7 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Petrol</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">14.4kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Manual</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹8,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Fourth car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-4.jpg') }}" alt="BMW i7 2023" loading="lazy" width="440"
                height="300" class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">BMW i7</a>
                </h3>

                <data class="year" value="2020">2023</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">5 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Hybrid</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">80kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹30,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Fifth car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-5.jpg') }}" alt="Audi A8 L 2022" loading="lazy" width="440"
                height="300" class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Audi A8 L</a>
                </h3>

                <data class="year" value="2021">2022</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">4 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Petrol</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">11.7kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹15,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--sixth car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-6.jpg') }}" alt="Porsche Taycan 2019" loading="lazy" width="440" height="300"
                class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Porsche Taycan</a>
                </h3>

                <data class="year" value="2019">2019</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">5 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Hybrid</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">80kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹35,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

      </ul>

    </div>
  </section>

  
   <!--Hundai-->
  <section class="section featured-car" id="featured-car">
    <div class="container">

      <div class="title-wrapper">
        <h2 class="h2_section-title">Hyundai</h2>

        <a href="/hyundai_cars" class="featured-car-link">
          <span >View more</span>

          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
      </div>

      <ul class="featured-car-list">

        <!--First car-->
              <li>
                <div class="featured-car-card">
      
                  <figure class="card-banner">
                    <img src="{{ url_for('static', filename='images/Carf-9.jpg') }}" alt="Hyundai Venue 2021" loading="lazy" width="440" height="300"
                      class="w-100">
                  </figure>
      
                  <div class="card-content">
      
                    <div class="card-title-wrapper">
                      <h3 class="h3 card-title">
                        <a href="#">Hyundai Venue</a>
                      </h3>
      
                      <data class="year" value="2021">2023</data>
                    </div>
      
                    <ul class="card-list">
      
                      <li class="card-list-item">
                        <ion-icon name="people-outline"></ion-icon>
      
                        <span class="card-item-text">5 People</span>
                      </li>
      
                      <li class="card-list-item">
                        <ion-icon name="flash-outline"></ion-icon>
      
                        <span class="card-item-text">Diesel</span>
                      </li>
      
                      <li class="card-list-item">
                        <ion-icon name="speedometer-outline"></ion-icon>
      
                        <span class="card-item-text">17 - 18 kmpl</span>
                      </li>
      
                      <li class="card-list-item">
                        <ion-icon name="hardware-chip-outline"></ion-icon>
      
                        <span class="card-item-text">Manual</span>
                      </li>
                    </ul>
              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹5,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Second car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-8.jpg') }}" alt="Hyundai ioniq 5 2022" loading="lazy" width="440" height="300"
                class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Hyundai ioniq 5</a>
                </h3>

                <data class="year" value="2019">2022</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">5 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Electric</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">8.69 kwh</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹21,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Third car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf7-.jpg') }}" alt="Hyundai Alcazar 2021" loading="lazy" width="440"
                height="300" class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Hyundai Alcazar</a>
                </h3>

                <data class="year" value="2020">2021</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">6 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Petrol</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">18 - 20 kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Manual</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹3,500</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

      </ul>


      <!--Toyota-->
  <section class="section featured-car" id="featured-car">
    <div class="container">

      <div class="title-wrapper">
        <h2 class="h2_section-title">Toyota</h2>

        <a href="/toyota_cars" class="featured-car-link">
          <span>View more</span>

          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
      </div>

      <ul class="featured-car-list">

        <!--First car-->
        
        <li>
            <div class="featured-car-card">
  
              <figure class="card-banner">
                <img src="{{ url_for('static', filename='images/Carf-10.jpg') }}" alt="Innova Crysta 2016" loading="lazy" width="440" height="300"
                  class="w-100">
              </figure>
  
              <div class="card-content">
  
                <div class="card-title-wrapper">
                  <h3 class="h3 card-title">
                    <a href="#">Innova Crysta</a>
                  </h3>
  
                  <data class="year" value="2021">2016</data>
                </div>
  
                <ul class="card-list">
  
                  <li class="card-list-item">
                    <ion-icon name="people-outline"></ion-icon>
  
                    <span class="card-item-text">6 People</span>
                  </li>
  
                  <li class="card-list-item">
                    <ion-icon name="flash-outline"></ion-icon>
  
                    <span class="card-item-text">Diesel</span>
                  </li>
  
                  <li class="card-list-item">
                    <ion-icon name="speedometer-outline"></ion-icon>
  
                    <span class="card-item-text">12 kmpl</span>
                  </li>
  
                  <li class="card-list-item">
                    <ion-icon name="hardware-chip-outline"></ion-icon>
  
                    <span class="card-item-text">Manual</span>
                  </li>
              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹6,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Second car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/Carf-11.jpg') }}" alt="Land Cruiser 2021" loading="lazy" width="440" height="300"
                class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Land Cruiser</a>
                </h3>

                <data class="year" value="2019">2021</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">7 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Diesel</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">11.13 kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹10,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

        <!--Third car-->
        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="{{ url_for('static', filename='images/uc.webp') }}" alt="Urban Cruiser Hyryder 2022" loading="lazy" width="440"
                height="300" class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Urban Cruiser Hyryder</a>
                </h3>

                <data class="year" value="2020">2022</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <ion-icon name="people-outline"></ion-icon>

                  <span class="card-item-text">5 People</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="flash-outline"></ion-icon>

                  <span class="card-item-text">Hybrid</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="speedometer-outline"></ion-icon>

                  <span class="card-item-text">19.39 - 21.12 kmpl</span>
                </li>

                <li class="card-list-item">
                  <ion-icon name="hardware-chip-outline"></ion-icon>

                  <span class="card-item-text">Automatic</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>₹5,000</strong> / day
                </p>

                <button class="btn fav-btn" aria-label="Add to favourite list">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn" onclick="location.href='/form'">Rent now</button>

              </div>

            </div>

          </div>
        </li>

      </ul>
      <br> <br> <br>


      <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">
          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/logo5-.png') }}" alt=" logo">
          </a>

          <p class="footer-text">
            Search for cheap rental cars in Bangalore. With a diverse fleet of 19,000 vehicles, Vintage Vogue offers its
            consumers an
            attractive and fun selection.
          </p>
        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Company</p>
          </li>

          <li>
            <a href="#" class="footer-link">About us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Pricing plans</a>
          </li>

          <li>
            <a href="#" class="footer-link">Our blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contacts</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Support</p>
          </li>

          <li>
            <a href="#" class="footer-link">Help center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Ask a question</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & conditions</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Neighborhoods in Bangalore</p>
          </li>

          <li>
            <a href="#" class="footer-link">Rajajinagar</a>
          </li>

          <li>
            <a href="#" class="footer-link">Vijayanagar</a>
          </li>

          <li>
            <a href="#" class="footer-link">Kormangala</a>
          </li>

          <li>
            <a href="#" class="footer-link">Whitefield</a>
          </li>

          <li>
            <a href="#" class="footer-link">Malleshwaram</a>
          </li>

          <li>
            <a href="#" class="footer-link">Richmond Town</a>
          </li>

          <li>
            <a href="#" class="footer-link">Frazer Twon</a>
          </li>

          <li>
            <a href="#" class="footer-link">Residency Town</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-skype"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="mail-outline"></ion-icon>
            </a>
          </li>

        </ul>

        <p class="copyright">
          &copy; 2023  All Rights Reserved
        </p>

      </div>

    </div>
  </footer>


   
  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   

</body>
</html>

